<?php

declare(strict_types=1);

use Monolog\Handler\StreamHandler;
use Monolog\Logger;

$channel = $_ENV['LOG_CHANNEL'] ?? 'stdout';

if ($channel === 'file') {
    $destination = dirname(__DIR__) . '/var/log/app.log';
    @mkdir(dirname($destination), 0777, true);
} else {
    $destination = 'php://stdout';
}

$logger = new Logger('{{ project_name }}');
$logger->pushHandler(new StreamHandler($destination));

return $logger;
